<!DOCTYPE html>
<html>
<head>
  <title>Surf</title>
  <%= javascript_include_tag "jquery-1.4.2.min.js", "rails" %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "ie", :media => "screen, projection" %><![endif]-->
</head>
<body>

  <header>
    New rails app
  </header>

  <nav>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </nav>

  <% flash.each do |key, msg| %>
    <div class="flash <%= key %>">
      <%= msg %>
    </div>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    footer
  </footer>

</body>
</html>
